<h2>What now?</h2>

Copy the pitch below into an email to your favourite TechCruch writer.</br></br>

All TechCrunch writers can be emailed on Tips@TechCrunch.com (very high traffic, but it is read). And all European writers can be email on EuroNews [@] Techcrunch.com</br></br>

If you just want Mike, he's on mike [ @ ] techcrunch.com</br></br>

<h3>A note on Subject lines and opening sentences:</h3>

Subject lines should read like headlines: “Catty, the Uber-for-Cats, Raises A $20M Seed Round” (LOL!). Opening sentence should NOT Read: “Hi Mike, How are you? It’s hot in London huh?”. It should read: “Mike, With the news that Uber has expanded into on-demand Cat Delivery, I bring you a startup that is going to BLOW those guys out of the water and this is EXCLUSIVE for you.”</br></br>

<%= link_to 'Need to edit your pitch? Click here.', edit_pitch_path(@pitch) %></br>
<%= link_to 'Want to create a new pitch? Click here.', root_path %></br>
</br>

<h2>Your Pitch</h2></br></br>

<p>
  <strong>WHAT IS THE BIG PICTURE HERE? WHAT IS ‘THE STORY’?</strong></br>
  <%= @pitch.story %>
</p>
</br></br>

<p>
  <strong>WHAT IS THE PROBLEM THIS COMPANY IS SOLVING?</strong></br>
  <%= @pitch.solving %>
</p>
</br></br>
<p>
  <strong>WAS IT A PERSONAL PROBLEM YOU HAD?</strong></br>
  <%= @pitch.personal %>
</p>
</br></br>
<p>
  <strong>DESCRIBE THE GENESIS OF THE PRODUCT</strong></br>
  <%= @pitch.genesis %>
</p>
</br></br>
<p>
  <strong>HOW HAS THIS PRODUCT SOLVED THAT PROBLEM?</strong></br>
  <%= @pitch.solved %>
</p>
</br></br>
<p>
  <strong>WHAT DOES THE PRODUCT *ACTUALLY* DO?</strong></br>
  <%= @pitch.product %>
</p>
</br></br>
<p>
  <strong>DESCRIBE IT AS IF YOU WERE DESCRIBING IT TO A NON-TECH PERSON ON THE STREET</strong></br>
  <%= @pitch.nontech %>
</p>
</br></br>
<p>
  <strong>HOW MUCH TRACTION DO YOU HAVE?</strong></br>
  <%= @pitch.traction %>
</p>
</br></br>
<p>
  <strong>OK, NOW WALK ME THROUGH THE USER EXPERIENCE</strong></br>
  <%= @pitch.ux %>
</p>
</br></br>
<p>
  <strong>WHO ARE THE COMPETITORS?</strong></br>
  <%= @pitch.competitors %>
</p>
</br></br>
<p>
  <strong>WHAT ARE THE KEY DIFFERENTIATORS BETWEEN YOU AND OTHER PLAYERS?</strong></br>
  <%= @pitch.differentiators %>
</p>
</br></br>
<p>
  <strong>WHY IS THIS BETTER THAN THOSE OTHER GUYS?</strong></br>
  <%= @pitch.better %>
</p>
</br></br>
<p>
  <strong>HOW DO YOU MAKE (OR PLAN TO MAKE) MONEY WITH THIS?</strong></br>
  <%= @pitch.money %>
</p>
</br></br>
<p>
  <strong>HOW BIG IS THE MARKET IT IS ADDRESSING?</strong></br>
  <%= @pitch.market %>
</p>
</br></br>
<p>
  <strong>WHAT IS THE NEW ROUND OF FUNDING?</strong></br>
  <%= @pitch.funding %>
</p>
</br></br>
<p>
  <strong>HOW MUCH FUNDING (in $) DOES IT HAVE IN TOTAL?</strong></br>
  <%= @pitch.total %>
</p>
</br></br>
<p>
  <strong>WHAT WILL THE MONEY BE USED FOR?</strong></br>
  <%= @pitch.moneyusedfor %>
</p>
</br></br>
<p>
  <strong>WHO ARE THE INVESTORS?</strong></br>
  <%= @pitch.investors %>
</p>
</br>
<p>
  <strong>WHO IS IN THE TEAM?</strong></br>
  <%= @pitch.team %>
</p>
</br></br>
<p>
  <strong>DO THE FOUNDERS HAVE A COMPELLING PERSONAL STORY IN SOME WAY?</strong></br>
  <%= @pitch.personalstory %>
</p>
</br></br>
<p>
  <strong>IS THIS STORY EXCLUSIVE TO TECHCRUNCH?</strong></br>
  <%= @pitch.exclusive %>
</p>
</br></br>
<p>
  <strong>IF NOT, WHEN DOES THE EMBARGO DROP?</strong></br>
  <%= @pitch.embargo %>
</p>
</br></br>
<p>
  <strong>CONTACT DETAILS FOR FOUNDERS</strong></br>
  <%= @pitch.contactdetails %>
</p>
</br></br>
<p>
  <strong>LINKS TO PREVIOUS RELEVANT STORIES</strong></br>
  <%= @pitch.relevantstories %>
</p>
</br></br>
<p>
  <strong>LINKS TO PRODUCT VIDEOS</strong></br>
  <%= @pitch.productvideos %>
</p>
</br></br>
<p>
  <strong>OTHER RELEVANT LINKS</strong></br>
  <%= @pitch.crunchbase %>
</p>
</br></br>